@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --radius: 0.625rem;
  --background: #fafafa;
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: #fafafa;
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.glass-effect{
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 32px;
}
.glass-effect2{
  background: rgba(0,0,0,0.55);
  backdrop-filter: blur(18px) saturate(140%);
  -webkit-backdrop-filter: blur(18px) saturate(140%);
}
.contact_btn{
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 0.597144px 0.597144px -0.9375px, rgba(0, 0, 0, 0.07) 0px 1.81088px 1.81088px -1.875px, rgba(0, 0, 0, 0.06) 0px 4.78699px 4.78699px -2.8125px, rgba(0, 0, 0, 0.03) 0px 15px 15px -3.75px;
  background: #fff;
  padding: 8px 16px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  display: inline-block;
  border: 1px solid #dedede;
}
.wrapper{
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  border-inline: 1px solid #dedede;
}
.book_btn{
  display: flex;
  align-items: center;
  border-radius: 24px;
  box-shadow: inset 0px 2px 4px 0px rgba(255, 255, 255, 0.4), 0px 0.7409732186279143px 0.7409732186279143px -0.75px rgba(0, 0, 0, 0.33), 0px 2.0178668455264415px 2.0178668455264415px -1.5px rgba(0, 0, 0, 0.32), 0px 4.430505261661892px 4.430505261661892px -2.25px rgba(0, 0, 0, 0.3), 0px 9.834710084098335px 9.834710084098335px -3px rgba(0, 0, 0, 0.25), 0px 25px 25px -3.75px rgba(0, 0, 0, 0.11), 0px 0px 0px 1px var(--token-994646e0-68ea-49d7-897a-104048558f6f, rgb(84, 84, 84));
  background: #000;
  color: #fff;
  gap: 10px;
  width: fit-content;
  padding: 6px 16px 6px 8px;
  font-size: 12px;
  line-height: 12px;
  font-weight: bold;
}
.schedule_btn {
  box-shadow: inset 0px 2px 4px 0px #fff6, 0px .740973px .740973px -.75px #00000054, 0px 2.01787px 2.01787px -1.5px #00000052, 0px 4.43051px 4.43051px -2.25px #0000004d, 0px 9.83471px 9.83471px -3px #00000040, 0px 25px 25px -3.75px #0000001c, 0px 0px 0px 1px var(--token-994646e0-68ea-49d7-897a-104048558f6f, #545454);
  color: #fff;
  background: #000;
  border-radius: 24px;
  align-items: center;
  gap: 6px;
  width: fit-content;
  padding: 13px 12px 13px 12px;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  display: flex;
}
.white_btn{
  background: #fff;
  border-radius: 24px;
  align-items: center;
  gap: 6px;
  width: fit-content;
  padding: 13px 12px 13px 12px;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  display: flex;
  color: #000;
}
.bg-color{
  box-shadow: inset 0px 2px 4px 0px #fff6, 0px .740973px .740973px -.75px #00000054, 0px 2.01787px 2.01787px -1.5px #00000052, 0px 4.43051px 4.43051px -2.25px #0000004d, 0px 9.83471px 9.83471px -3px #00000040, 0px 25px 25px -3.75px #0000001c, 0px 0px 0px 1px var(--token-994646e0-68ea-49d7-897a-104048558f6f, #545454);
  color: #fff;
  background: #000;
}
.shadow{
  box-shadow: rgba(0, 0, 0, 0.07) 0px 0.597144px 0.597144px -0.9375px, rgba(0, 0, 0, 0.07) 0px 1.81088px 1.81088px -1.875px, rgba(0, 0, 0, 0.06) 0px 4.78699px 4.78699px -2.8125px, rgba(0, 0, 0, 0.03) 0px 15px 15px -3.75px;
}
.animate-heartbeat{
  animation: spineer 2s infinite;
}
@keyframes spineer {
  from {
    box-shadow: 0 0 0 0 rgba(0, 201, 80, .99)
  }
  to {
    box-shadow: 0 0 0 6px rgba(0, 201, 80, .01)
  }
}
.mask{
  mask: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 20.5993%, rgb(0, 0, 0) 50%, rgb(0, 0, 0) 80%, rgba(0, 0, 0, 0) 100%);
}

.client_slider .swiper-wrapper {
  transition-timing-function: linear !important;
}


.change-text {
  position: relative;
  display: inline-block;
  @apply 2xl:h-[78px] lg:h-[64px] sm:h-[50px] h-[45px];
  overflow-x: visible;
  overflow-y: hidden;
  vertical-align: top;
  width: auto;
}

.change-text span {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease;
  color: #fff;
  @apply 2xl:text-[72px] 2xl:leading-[72px] lg:text-[60px] lg:leading-[60px] md:text-[48px] md:leading-[45px] text-[42px] leading-[39px];
  font-weight: 500;
}

.change-text span.active {
  opacity: 1;
  transform: translateY(0);
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(0.8) translateY(-10px);
  }
  50% {
    transform: scale(1.05) translateY(5px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.work-history-card-enter {
  animation: bounce-in 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}


html{
  scroll-behavior: smooth;
}

/* Ensure default browser cursor on mobile devices */
@media (max-width: 1279px) {
  * {
    cursor: auto !important;
  }
  a, button, [role="button"] {
    cursor: pointer !important;
  }
}
.client_slider {
  pointer-events: none;
}
@keyframes floatBox {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  50% {
    transform: translateX(1.93933px)
    translateY(-4.84831px)
    rotate(-2.81798deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}

.animate-box {
  animation: floatBox 3s ease-in-out infinite;
}
.box-shadow{
  box-shadow: rgba(0, 0, 0, 0.07) 0px 0.597144px 0.597144px -0.9375px, rgba(0, 0, 0, 0.07) 0px 1.81088px 1.81088px -1.875px, rgba(0, 0, 0, 0.06) 0px 4.78699px 4.78699px -2.8125px, rgba(0, 0, 0, 0.03) 0px 15px 15px -3.75px;
}